<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Haeun</title>
</head>
<body>
<h1>Haeun's Profile</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus enim mollitia rerum. Alias ducimus eaque excepturi laudantium nulla numquam odit quaerat voluptatibus! Eligendi expedita molestias provident quaerat repudiandae veniam veritatis!
</p>
<a href="/home"  target="_blank">
    <img src="https://previews.123rf.com/images/hermandesign2015/hermandesign20151610/hermandesign2015161000090/67557190-%EA%B7%80%EC%97%AC%EC%9A%B4-%EC%9B%90%EC%88%AD%EC%9D%B4.jpg">
</a>
<a href="/address">Address</a>
</body>
</html>